{% extends 'main/base.html' %}

{% block content %}

<h1>Add Meeting</h1>

<h2>{{ error }}</h2>

<form method="POST">
    {% csrf_token %}

    <p>
        <label for="id_link">Link:</label>
        <input type="url" name="link" maxlength="300" required="" id="id_link">
    </p>

    <p>
        <label for="id_memo">Memo:</label>
        <textarea name="memo" cols="40" rows="10" maxlength="500" id="id_memo"></textarea>
    </p>

    <p>
        <label for="id_meeting_time">Meeting Time:</label>
        <input type="datetime-local" name="meeting_time" value="{{time|date:'Y-m-d'}}T{{time|date:'H:i'}}" required="" id="id_meeting_time">
    </p>


<button type="submit">Add</button>
</form>

{% endblock %}