{% extends 'main/base.html' %}

{% block content %}

<h1> FAQ </h1>

<h3>1. How do I create an account?</h3>
<p>To create an account, visit our website and look for the link that says "Sign Up". You'll need to provide your personal information, such as your name, email address, and a password. Follow the on-screen instructions to complete the registration process. </p>

<h3>2. What should I do if I forgot my password or username?</h3>
<p>If you forget your password or username, please contact site administrator and provide all the following information used during registration: First Name, Last Name, Email Address. You are welcome to provide other information as well if you believe it will be useful for recovering your account.</p>

<h3>3. How do I submit my homework task?</h3>
<p>Homework tasks can be submitted through our platform. Log in to your account, navigate to the relevant task assignment, and follow the instructions provided for submitting your homework task. This might involve uploading files, typing in text, or following other guidelines provided by your instructor.</p>

<h3>4. What file formats are accepted for homework task submission?</h3>
<p>Accepted file formats for homework submission can vary, but commonly supported formats include PDF, Microsoft Word documents (DOC or DOCX), and sometimes image files (JPG, PNG). Always check the specific requirements for each assignment, as instructors may have preferences. If you need to submit multiple files at once, do so using a .zip file.
</p>

<h3>5. How can I confirm my homework task has been successfully submitted?</h3>
<p>Once a task has been submitted, a task submission will appear for that task on the page with its task description. If in doubt, reach out to your instructor or course administrator for confirmation.</p>

<h3>6. How can I check the status or feedback of my submitted homework task?</h3>
<p>To check the status or feedback of a submitted homework task, log in to your account and access the specific task submission page. Instructors typically provide grades and feedback through the platform. Look for your grade and feedback above the task submission comments section. If it is not there, either the submission has not been graded yet, or the instructor has not marked the grade as visible.</p>

<h3>7. How can I schedule a meeting with my professor or a classmate?</h3>
<p>If your instructor has allowed you to do so, you can create a team where you can invite your classmate or professor and create a meeting there. Reach out to your desired contact and propose a meeting time that works for both parties. Remember, you can always edit the meeting time if you need to.</p>

{% endblock %}