{% extends 'main/base.html' %}

{% block content %}

<h1>Task Submission</h1>

{% if submission.team %}
<h2>Team: {{submission.team.name}} </h2>
{% endif %}

<h3>Submitted by: {{submission.submitter.first_name}} {{submission.submitter.last_name}}</h3>

<p>{{ submission.description }}</p>

<br>

{% if submission.attached %}
Attachment: <a href="{% url 'downloadsubmissionattachment' submission.id %}" download>{{submission.attached.name}}</a>
{% endif %}

{% if submission.is_graded and submission.grade_visible %}
<p>
Grade: {{submission.grade}}
</p>
<p>
Grader: {{submission.grader.first_name}} {{submission.grader.last_name}}
</p>
<p>
Comments: {{submission.grading_comments}}
</p>

{% if submission.grading_attached %}
    <p>
    Attachment: <a href="{% url 'downloadgradingattachment' submission.id %}" download>{{submission.grading_attached.name}}</a>
    </p>
{% endif %}

{% endif %}

{% endblock %}